@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: 'Anybody', cursive;
}

h1 {
  font-weight: 600;
  color: var(--heading-color);
  text-shadow: 1px 1px 5px #dddddd3f;
  text-align: center;
  font-size: 2.4rem;
}

:root {
  --background-color: #222831;
  --font-color: #DDDDDD;
  --heading-color: #F05454;
  --wrapper-background: #30475E;
}

.fa-sharp {
  color: var(--font-color);
  font-size: 2.5rem;
}

.wrapper {
  width: 605px;
  background: var(--wrapper-background);
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.445);
  border: 2px solid #f0545436;
  padding-bottom: 5px;
}

.wrapper .content {
  margin: 35px 0;
}

.content .quote-area {
  display: flex;
  justify-content: center;
}

.quote-area .quote {
  font-size: 1.3rem;
  text-align: center;
}

.quote-area i {
  font-size: 1rem;
}

.quote-area i:first-child {
  margin: 3px 10px 0 0;
}

.quote-area i:last-child {
  margin: 0 0 3px 10px;
}

.content .author {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-style: italic;
  font-family: monospace;
  font-size: 1.2rem;
}

.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}

.wrapper .buttons {
  border-top: 1px solid #141f294f;
  margin-top: 15px;
}

.buttons .features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.features ul {
  display: flex;
}

.features ul li {
  list-style: none;
  margin: 0 5px;
  height: 47px;
  width: 47px;
  border: 2px solid var(--heading-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.features ul li:hover {
  color: var(--background-color);
  background: var(--font-color);
}

.features ul li:first-child {
  margin-left: -35px;
}

.features button {
  border: none;
  outline: none;
  background: var(--heading-color);
  color: var(--font-color);
  font-family: 'Anybody', cursive;
  padding: 13px 22px;
  border-radius: 30px;
  cursor: pointer;
  font-style: 16px;
}